:root {
	--text-color: #292929;
	--bg: #f4f4f4;
	--border-radius: 18px;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body {
	font-family: Product Sans;
	color: var(--text-color);
	background-color: var(--bg);
	font-size: 18px;
	letter-spacing: 1px;
	padding: 40px;
	max-width: 1100px;
	margin: auto;

	/* grid */
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 300px 200px 500px 300px;
	gap: 20px; /* Adjust the gap between rows if needed */
}

.welcome__container {
	grid-area: 1 / 1 / 2 / 2;
	height: 300px;
	width: 230px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	user-select: none;
}

.scroll-to-about {
	grid-area: 1 / 2 / 2 / 6;
	height: 300px;
	text-decoration: none;
	color: var(--text-color);
}

.learn-more__container {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.to-upload {
	grid-area: 2 / 1 / 3 / 3;
	text-decoration: none;
	color: var(--text-color);
}

.upload-file__container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.to-login {
	grid-area: 2 / 3 / 3 / 6;
	text-decoration: none;
	color: var(--text-color);
}

.login__container {
	height: 100%;
	display: flex;
	align-items: center;
	
}

.interactions__container {
	grid-area: 3 / 1 / 4 / 6;
}

.team__container, .upload__container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}

.about__container {
	grid-area: 4 / 1 / 5 / 6;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.welcome__container, .learn-more__container, .upload-file__container, .login__container, .team__container, .about__container, .login_page__container {
	border: 1px solid #ccc;
	text-align: center;
	border-radius: var(--border-radius);
	background-color: #fff;
	border: 1px solid rgba(147, 147, 147, 0.3);
	transition: 0.4s;
}

.welcome__container:hover, .learn-more__container:hover, .upload-file__container:hover, .login__container:hover, .team__container:hover, .about__container:hover, .login_page__container {
	transform: scale(1.02);
	transition: 0.4s;
	border: 1px solid rgba(100, 100, 100, 0.3);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.welcome__container .welcome__image {
	width: 70%;
	object-fit: cover;
	border-radius: var(--border-radius);
}

.welcome__container .welcome__title {
	font-size: 23px;
	font-weight: 400;
}

.learn-more__container .learn-more__image {
	position: relative;
	top: 0;
	left: -16px;
	filter: sepia(100%) saturate(350%) brightness(140%) hue-rotate(180deg);
	height: 100%;
}

.learn-more__container .learn-more__title {
	font-size: 40px;
	text-align: start;
	margin-right: 10px;
	margin-left: 20px;
}

.upload-file__container .upload-file__image {
	width: 46%;
}

.upload-file__container .upload-file__title {
	margin-left: 20px;
	margin-right: 10px;
	text-align: left;
	font-size: 28px;
}

.login__container .login__image {
	width: 30%;
	margin-left: 20px;
}

.login__container .login__title {
	margin-left: 30px;
	margin-right: 10px;
	text-align: left;
	font-size: 28px;
}

.team__container .team__title {
	font-size: 32px;
	margin-top: 20px;
	font-weight: 500;
}

.team__container .team__subtitle {
	font-size: 18px;
	margin-top: 5px;
	line-height: 1.5;
	color: #696969;
}

.images {
	width: 100%;
	margin-top: 30px;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	align-self: flex-end;
}
.images .image {
	position: relative;
	border-radius: var(--border-radius);
	overflow: hidden;
	width: 80%;
	margin: auto;
	height: 100%;
	margin-top: auto;
	box-shadow: rgba(0, 0, 0, 0.645) 0px -90px 36px -28px inset;
}

.names {
    color: #fff;
    font-size: 20px;
	position: absolute;
	bottom: 0;
	margin-bottom: 16px;
	left: 0;
	width: 100%;
	line-height: 1.2;
    font-weight: bold;
}

.images .image:nth-child(1) {
	background-image: url('assets/images/bel-kala.png');
	background-image: url('assets/images/person.png');
	background-size: cover;
	background-position: center;
}

.images .image:nth-child(2) {
	background-image: url('assets/images/abahsine.png');
	background-image: url('assets/images/person.png');
	background-size: cover;
	background-position: center;
}
.images .image:nth-child(3) {
	background-image: url('assets/images/isalama.png');
	background-image: url('assets/images/person.png'); 
	background-size: cover;
	background-position: center;
}

.about__container .about__image {
	width: 26%;
}

.about__container .about__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: start;
	margin-left: 20px;
	padding-right: 20px;
}

.about__container .about__title {
	font-size: 32px;
	margin-bottom: 10px;
	font-weight: 500;
}

.about__container .about__subtitle {
	font-size: 18px;
	line-height: 1.5;
	color: #696969;
}

.interactions__container {
	position: relative;
	overflow: hidden;
	transform: scale(1);
}