:root {
	--text-color: #292929;
	--bg: #f4f4f4;
	--border-radius: 18px;
    --primary-color: #f94f46;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Product Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"),
		url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
			format("woff2");
}

body {
    background-color: var(--bg);
    font-family: Product Sans;
	margin: 0;
	padding: 0;
}

.form-container {
	width: 100vw;
	height: 100vh;
	display: flex;
   	justify-content: center;
	align-items: center;
}

.upload-files-container {
	background-color: #f7fff7;
	width: 50%;
	padding: 30px 60px;
	border-radius: 40px;
    border: 1px solid rgba(147, 147, 147, 0.3);
	display: flex;
   	align-items: center;
   	justify-content: center;
	flex-direction: column;
}
.drag-file-area {
	border: 2px dashed var(--primary-color);
	border-radius: 40px;
	margin: 10px 0 15px;
	padding: 30px 50px;
	width: 250px;
	text-align: center;
}
.drag-file-area .upload-icon {
	font-size: 50px;
}
.drag-file-area h3 {
	font-size: 26px;
	margin: 15px 0;
}
.drag-file-area label {
	font-size: 19px;
}
.drag-file-area label .browse-files-text {
	color: var(--primary-color);
	font-weight: bolder;
	cursor: pointer;
}
.browse-files span {
	position: relative;
	top: -25px;
}
.default-file-input {
	opacity: 0;
}
.cannot-upload-message {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
	padding-right: 10px;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
	color: #f7fff7;
	background-color: var(--primary-color);
  	transition: all 1s;
	width: 390px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
.file-info {
	display: flex;
	align-items: center;
	font-size: 15px;
}
.file-icon {
	margin-right: 10px;
}
.file-name, .file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
}
.progress-bar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;
	border-radius: 25px;
	background-color: #4BB543;
}
.upload-button {
	background-color: var(--primary-color);
	color: #f7fff7;
	display: flex;
	align-items: center;
    width: 70%;
    justify-content: center;
	font-size: 18px;
	border: none;
	border-radius: 50px;
	margin: 10px;
	padding: 14px 50px;
	cursor: pointer;
}